<div class="play-container">

  <div class="config-bar">
    <button class="expand-menu-button" (click)="this.expandedMenu = !this.expandedMenu">Menu</button>

    <ng-container *ngIf="this.expandedMenu">
      <div class="config-entry">
        <label>Dificuldade</label>
        <select
          [ngModel]="this.gameConfig.getGameDifficulty()"
          (change)="this.onDifficultyChange($event.target.value)">
          <option [value]="dificulties.EASY">Fácil</option>
          <option [value]="dificulties.MEDIUM">Médio</option>
          <option [value]="dificulties.HARD">Difícil</option>
        </select>
      </div>

      <div class="config-entry">
        <label>Iluminar células</label>
        <input type="checkbox" [(ngModel)]="this.gameConfig.highlightBlock">
      </div>

      <div class="config-entry">
        <label>Iluminar valores</label>
        <input type="checkbox" [(ngModel)]="this.gameConfig.highlightValue">
      </div>

      <div class="config-entry">
        <button *ngIf="this.gameInProgress" (click)="this.resetGame()">Reiniciar Jogo</button>
      </div>

      <div class="config-entry">
        <button *ngIf="this.gameInProgress" (click)="this.solveGame()">Solucionar Jogo</button>
      </div>

      <div class="config-entry">
        <button *ngIf="!this.buildingGame" (click)="this.startNewGame()">Novo Jogo</button>
        <button *ngIf="this.buildingGame" [disabled]="true">Carregando...</button>
      </div>
    </ng-container>
  </div>

  <div class="game-container">
    <div class="solved-msg" *ngIf="this.gameSolved">Parabéns! Você concluiu este jogo!</div>
    <app-clock *ngIf="this.gameInProgress && !this.buildingGame" [resetClockEvent]="this.resetClockEvent" [pauseClockEvent]="this.gameSolvedEvent"></app-clock>
    <app-board *ngIf="this.gameInProgress && !this.buildingGame" [board]="this.board" (cellValueChanged)="this.checkBoard()"></app-board>
    <button *ngIf="!this.gameInProgress && !this.buildingGame" (click)="this.startNewGame()" >Novo Jogo</button>
    <p *ngIf="this.buildingGame">Carregando novo jogo...</p>
  </div>

</div>

