.cell {
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  caret-color: transparent;
  border: 1px rgba(127, 127, 127, 0.5) solid;

  &.fixed-value {
    background-color: rgba(224, 224, 224, 0.5);
  }

  &:focus {
    background-color: rgba(223, 191, 87, 0.5);
  }

  &.top-border {
    border-top: 2px black solid;
  }

  &.bottom-border {
    border-bottom: 2px black solid;
  }

  &.left-border {
    border-left: 2px black solid;
  }

  &.right-border {
    border-right: 2px black solid;
  }
}
