<input
  class="cell"
  maxlength="1"
  [ngClass]="{
    'top-border': (cell.rowPosition % this.blockSize) === 0,
    'bottom-border': cell.rowPosition === (this.blockSize * 3) - 1,
    'left-border': (cell.colPosition % this.blockSize) === 0,
    'right-border': cell.colPosition === (this.blockSize * 3) - 1,
    'fixed-value': this.cell.fixedValue,
    'highlight': this.highlightCell,
    'highlight-value': this.highlightValue
  }"
  [ngModel]="this.cell.fixedValue ? this.cell.fixedValue : this.cell.currentValue"
  (keydown)="this.processModelChange($event)"
  (focus)="this.onCellFocus()"
/>
